server {
    listen 80;
    listen [::]:80;
    server_name {{ item.serveur_nom }};

    return 302 https://$server_name$request_uri;
}
server {
        listen 443 ssl http2;
        listen [::]:443 ssl http2;
        server_name {{ item.serveur_nom }};
        root {{ item.serveur_racine }};
        index index.php;
        
        include snippets/{{conf_ssl_g}};
		include snippets/{{ item.sous_domaine }}-{{ conf_ssl }};
		
		location = /favicon.ico {
                log_not_found off;
                access_log off;
        }
 
        location = /robots.txt {
                allow all;
                log_not_found off;
                access_log off;
        }
 
        location / {
                try_files $uri $uri/ /index.php?$args;
        }
 
        location ~ \.php$ {
                try_files $uri =404;
                fastcgi_pass unix:{{ php_sock_chemin }};
                fastcgi_index index.php;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                include fastcgi_params;
                fastcgi_intercept_errors on;
                fastcgi_ignore_client_abort off;
                fastcgi_connect_timeout 60;
                fastcgi_send_timeout 180;
                fastcgi_read_timeout 180;
                fastcgi_buffers 4 256k;
                fastcgi_buffer_size 128k;
                fastcgi_busy_buffers_size 256k;
                fastcgi_temp_file_write_size 256k;
        }
 
        location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
                expires max;
                log_not_found off;
        }
        
        # Location pour la racine de l'appli
        #location ~ \.php$ {
        #        try_files $uri =404;
        #        fastcgi_pass unix:{{ php_sock_chemin }};
        #        fastcgi_index index.php;
        #        fastcgi_param SCRIPT_FILENAME #$document_root$fastcgi_script_name;
        #        include fastcgi_params;
        #        fastcgi_intercept_errors on;
        #        fastcgi_ignore_client_abort off;
        #        fastcgi_connect_timeout 60;
        #        fastcgi_send_timeout 180;
        #        fastcgi_read_timeout 180;
        #        fastcgi_buffers 4 256k;
        #        fastcgi_buffer_size 128k;
        #        fastcgi_busy_buffers_size 256k;
        #        fastcgi_temp_file_write_size 256k;
        #}
}
