<?php
$CONFIG = array (
  'instanceid' => 'ocy094m694mp',
  'passwordsalt' => '3MC4/MVwkYvJDEqvL+Nl1Va6BdK9wp',
  'secret' => 'EcGeSNRzkihAZqA640MzsYRDumOT3Vg/WvSKyN2y0u/sk64u',
  'trusted_domains' => 
  array (
    0 => '{{ serveur_nom }}',
  ),
  'datadirectory' => '/var/www/nuage/data',
  'dbtype' => 'mysql',
  'version' => '18.0.5.1',
  'overwrite.cli.url' => 'http://{{ serveur_nom }}',
  'dbname' => '{{ mysql_bd }}',
  'dbhost' => 'localhost',
  'dbport' => '',
  'dbtableprefix' => '{{ mysql_prefixe }}',
  'mysql.utf8mb4' => true,
  'dbuser' => '{{ mysql_nom }}',
  'dbpassword' => '{{ mysql_passe }}',
  'installed' => true,
  'memcache.local' => '\\OC\\Memcache\\APCu',
  'updater.secret' => '$2y$10$GL1fYT5ZbX0qdGQrX0AcH.odLvmUQMSu26riKVm45SQtDM3Ex6uyS',
  'maintenance' => false,
  'theme' => '',
  'loglevel' => 2,
);
