<?php
$conf['dblayer'] = 'mysqli';
$conf['db_base'] = '{{ mysql_bd }}';
$conf['db_user'] = '{{ mysql_nom }}';
$conf['db_password'] = '{{ mysql_passe }}';
$conf['db_host'] = 'localhost';

$prefixeTable = '{{ mysql_prefix }}';

define('PHPWG_INSTALLED', true);
define('PWG_CHARSET', 'utf-8');
define('DB_CHARSET', 'utf8');
define('DB_COLLATE', '');

?>
