server {
    listen 80;
    listen [::]:80;
    server_name {{ serveur_nom }};

    return 302 https://$server_name$request_uri;
}
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {{ serveur_nom }};
    root {{ serveur_racine }};
    index index.php;
        
    include snippets/{{conf_ssl_g}};
    include snippets/{{ sous_domaine }}-{{ conf_ssl }};
        
    ## only allow accessing the following php files
    location ~ ^/(index|matomo|piwik|js/index|plugins/HeatmapSessionRecording/configs)\.php$ {
        include snippets/fastcgi-php.conf; 
        include fastcgi_params;
        fastcgi_param HTTP_PROXY ""; # prohibit httpoxy: https://httpoxy.org/
        fastcgi_pass unix:/run/php/php7.3-fpm.sock; 
    }

    ## deny access to all other .php files
    location ~* ^.+\.php$ {
        deny all;
        return 403;
    }

    ## serve all other files normally
    location / {
         try_files $uri $uri/ =404;
    }

    ## disable all access to the following directories
    location ~ ^/(config|tmp|core|lang) {
        deny all;
        return 403; # replace with 404 to not show these directories exist
    }
    
    location ~ /\.ht {
        deny  all;
        return 403;
    }

    location ~ js/container_.*_preview\.js$ {
        expires off;
        add_header Cache-Control 'private, no-cache, no-store';
    }

    location ~ \.(gif|ico|jpg|png|svg|js|css|htm|html|mp3|mp4|wav|ogg|avi|ttf|eot|woff|woff2|json)$ {
        allow all;
        ## Cache images,CSS,JS and webfonts for an hour
        ## Increasing the duration may improve the load-time, but may cause old files to show after an Matomo upgrade
        expires 1h;
        add_header Pragma public;
        add_header Cache-Control "public";
    }

    location ~ ^/(libs|vendor|plugins|misc|node_modules) {
        deny all;
        return 403;
    }

    ## properly display textfiles in root directory
    location ~/(.*\.md|LEGALNOTICE|LICENSE) {
        default_type text/plain;
    }

        # À SUPPRIMER QUAND LA NOUV. CONFIG AURA FAIT SES PREUVES
        # Location for the app's root
        #location ~ \.php$ {
        #        try_files $uri =404;
        #        fastcgi_pass unix:/run/php/php7.3-fpm.sock;
        #        fastcgi_index index.php;
        #        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        #        include fastcgi_params;
        #        fastcgi_intercept_errors on;
        #        fastcgi_ignore_client_abort off;
        #        fastcgi_connect_timeout 60;
        #        fastcgi_send_timeout 180;
        #        fastcgi_read_timeout 180;
        #        fastcgi_buffers 4 256k;
        #        fastcgi_buffer_size 128k;
        #        fastcgi_busy_buffers_size 256k;
        #        fastcgi_temp_file_write_size 256k;
        #}
}
