server {
    listen 80;
    listen [::]:80;
    server_name {{ item.serveur_nom }};

    return 302 https://$server_name$request_uri;
}
server {
        listen 443 ssl http2;
        listen [::]:443 ssl http2;
        server_name {{ item.serveur_nom }};
        root {{ item.serveur_racine }};
        index index.php;
        
        include snippets/{{conf_ssl_g}};
		include snippets/{{ item.sous_domaine }}-{{ conf_ssl }};
        
        # Location for the app's root
        location ~ \.php$ {
                try_files $uri =404;
                fastcgi_pass unix:/run/php/php7.3-fpm.sock;
                fastcgi_index index.php;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                include fastcgi_params;
                fastcgi_intercept_errors on;
                fastcgi_ignore_client_abort off;
                fastcgi_connect_timeout 60;
                fastcgi_send_timeout 180;
                fastcgi_read_timeout 180;
                fastcgi_buffers 4 256k;
                fastcgi_buffer_size 128k;
                fastcgi_busy_buffers_size 256k;
                fastcgi_temp_file_write_size 256k;
        }
        
        location /images {
                # Separate location for images/ so .php execution won't apply

                location ~ ^/images/thumb/(archive/)?([^/]+)/([0-9]+)px-.*$ {
                        # Thumbnail handler for MediaWiki
                        # This location only matches on a thumbnail's url
                        # If the file does not exist we use @thumb to run the thumb.php script
                        try_files $uri $uri/ @thumb;
                }
        }
        location /images/deleted {
                # Deny access to deleted images folder
                deny    all;
        }

        # Deny access to folders MediaWiki has a .htaccess deny in
        location /cache       { deny all; }
        location /languages   { deny all; }
        location /maintenance { deny all; }
        location /serialized  { deny all; }

        # Just in case, hide .svn and .git too
        location ~ /.(svn|git)(/|$) { deny all; }

        # Hide any .htaccess files
        location ~ /.ht { deny all; }

        ## Deny access to the installer
        location /mw-config { deny all; }

        location / {
                try_files $uri $uri/ @rewrite;
        }

        location @rewrite {
                rewrite ^/(.*)$ /index.php;
        }

        # Thumbnail 404 handler, only called by try_files when a thumbnail does not exist
        location @thumb {
                # Do a rewrite here so that thumb.php gets the correct arguments
                rewrite ^/images/thumb/([^/]+)/([0-9]+)px-.*$ /thumb.php?f=$1&width=$2;
                rewrite ^/images/thumb/archive/([^/]+)/([0-9]+)px-.*$ /thumb.php?f=$1&width=$2&archived=1;

                # Run the thumb.php script
                fastcgi_param SCRIPT_FILENAME   $document_root/thumb.php;
         }
}
