output_as_info = no
[source]
type = local
keep = 60D
include = /var/spool/cron/crontabs
include = /var/backups
include = /etc
include = /root
include = /home
include = /usr/local/*bin
include = /var/lib/dpkg/status*
exclude = /home/*/.gnupg
exclude = /var/cache/backupninja/duplicity
[dest]
type = remote
directory = /backup/{{ inventory_hostname }}
host = {% if inventory_hostname in groups['prod'] %}
{{ groups['sav'][0] }}
{% else %}
{{ groups['prod'][0] }}
{% endif %}
user = mathieu
